<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/styles.css" />
    <meta name="description" content="An API for those who wish to practice sortes crepusculum.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sortes Crepusculum</title>
  </head>
  <body>
    <span class="text"><%= line.ln %></span>
    <span class="info">Chapter <%= chapter %>. Page #<%= line.pg %></span>
    <br /><br />
    <a class="example" href="https://sortes-crepusculum-ecglover8.c9users.io/websortes">⟲Try another line.</a>
    <br />
    <a class="example" href="https://sortes-crepusculum-ecglover8.c9users.io/index.html">Return to the API</a>
  </body>
</html>